.list-closing-academie {

    li {
        margin-top: 2.7rem;
    }
}

.temoignages {
    padding-bottom: 2rem;
    
    h3 {
        text-align: center;
        font-family: 'Philosopher', sans-serif;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 2rem;
        margin: 0;
    }

    .img-temoignage {
        display: none;
    }
}

.display-temoignages {
    background-color: rgba(236, 237, 235, 0.8);
    width: 15rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1rem;

    .carousel-temoignages {
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 0.5rem;
        height: 15rem;
        overflow: hidden;

        .rec.rec-arrow {
            margin: 0;
        }

        p {
            text-align: center;
            font-size: 0.8rem;
        }
    }

    #img-quotes {
        width: 2rem;
        display: flex;
        margin: auto;
        margin-top: 1rem;
        opacity: 1;
    }
}