@media (min-width: 375px) {
    .page-closing {
        .display-temoignages {
            width: 18rem;
        }

        img {
            width: 18rem;
        }
    }
}

@media (min-width: 425px) {
    .page-closing {
        img {
            width: 22rem;
        }

        .display-temoignages {
            width: 20rem;
        }
    }
}

@media (min-width: 768px) {
    .page-closing {
        .first-part-closing {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        h2 {
            font-size: 1.4rem;
            text-align: center;
        }

        .list-closing {
            position: relative;

            .cadre-white {
                position: absolute;
                background-color: #ffffff;
                width: 18rem;
                height: 18rem;
                top: 28%;
                left: 6%;
                transform: rotate(45deg);
            }

            ul {
                top: 28%;
                left: 44%;
                margin: 0;
            }
        }

        .list-closing-academie {
            .cadre-white {
                position: absolute;
                background-color: #ffffff;
                width: 18rem;
                height: 18rem;
                top: 28%;
                left: 53%;
                transform: rotate(45deg);
            }

            ul {
                top: 28%;
                left: 71%;
                margin: 0;
            }
        }

        #image-academie {
            margin-left: 2rem;
        }

        img {
            opacity: 1;
            width: 20rem;
        }

        .articles-closing {
            margin-left: 1rem;

            .date-academie {
                margin-bottom: 1rem;
            }

            h3 {
                margin: auto;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }

            .markdown-academie {
                margin: auto;
                width: 80%;
            }
        }

        .display-flex-temoignage {
            display: flex;
            position: relative;
            margin-top: 1rem;
        }

        .display-temoignages {
            position: absolute;
            top: 1rem;
            right: 2rem;
            width: 26rem;
            height: 26rem;

            #img-quotes {
                width: 3rem;
                margin-top: 3rem;
            }

            .carousel-temoignages {
                p {
                    font-size: 1rem;
                }
            }
        }

        .temoignages {
            .img-temoignage {
                display: flex;
                margin-left: 2rem;
            }
        }

    }
}

@media (min-width: 834px) {
    .page-closing {
        .display-temoignages {
            right: 4rem;
        }

        .temoignages {
            .img-temoignage {
                margin-left: 3rem;
            }
        }
    }
}

@media (min-width: 866px) {
    .page-closing {
        .display-temoignages {
            right: 5rem;
        }

        .temoignages {
            .img-temoignage {
                margin-left: 4rem;
            }
        }
    }
}

@media (min-width: 906px) {
    .page-closing {
        .list-closing {
            ul {
               left: 37%; 
            }
        }

        .list-closing-academie {
            ul {
                left: 69%;
            }
        }

        .display-temoignages {
            right: 6rem;
        }

        .temoignages {
            .img-temoignage {
                margin-left: 5rem;
            }
        }
    }
}

@media (min-width: 958px) {
    .page-closing {
        .display-temoignages {
            right: 8rem;
        }
    
        .temoignages {
            .img-temoignage {
                margin-left: 7rem;
            }
        }
    }

}

@media (min-width: 968px) {
    .page-closing {
        .display-temoignages {
            right: 8rem;
        }
    
        .temoignages {
            .img-temoignage {
                margin-left: 7rem;
            }
        }
    }
}

@media (min-width: 1024px) {
    .page-closing {
        h2 {
            font-size: 2.1rem;
        }

        .img-title-closing {
            width: 85%;
        }

        .list-closing {
            .cadre-white {
                width: 23rem;
                height: 23rem;
            }

            ul {
                left: 43%;

                li {
                    font-size: 1.5rem;
                }
            }
        }

        .list-closing-academie {
            ul {
                left: 71%;
            }

            .cadre-white {
                width: 23rem;
                height: 23rem;
            }
        }

        img {
            width: 24rem;
        }

        .articles-closing {
            margin-top: 6rem;

            li {
                margin: 0;
                margin-bottom: 4rem;
            }
        }

        .display-temoignages {
            top: 2rem;
            right: 6rem;
            width: 30rem;
            height: 30rem;        

            #img-quotes {
                width: 3rem;
                margin-top: 3rem;
            }

            .carousel-temoignages {
                p {
                    font-size: 1.1rem;
                }
            }
        }

        .temoignages {
            .img-temoignage {
                margin-left: 6rem;
            }
        }
    }
}

@media (min-width: 1092px) {
    .page-closing {
        .display-temoignages {
            right: 9rem;
        }
    
        .temoignages {
            .img-temoignage {
                margin-left: 8rem;
            }
        }
    }
}

@media (min-width: 1154px) {
    .page-closing {
        .list-closing {
            ul {
                left: 37%;
            }
        }

        .list-closing-academie {
            ul {
                left: 69%;
            }
        }

        #image-academie {
            margin-left: 4rem;
        }

        .display-temoignages {
            right: 10rem;
        }
    
        .temoignages {
            .img-temoignage {
                margin-left: 9rem;
            }
        }
    }
}

@media (min-width: 1228px) {
    .page-closing {
        .list-closing {
            ul {
                left: 36%;
            }
        }

        .list-closing-academie {
            ul {
                left: 68%;
            }
        }

        #image-academie {
            margin-left: 5rem;
        }

        .display-temoignages {
            right: 12rem;
        }
    
        .temoignages {
            .img-temoignage {
                margin-left: 11rem;
            }
        }
    }
}

@media (min-width: 1292px) {
    .page-closing {
        #image-academie {
            margin-left: 6.5rem;
        }

        .display-temoignages {
            right: 15rem;
        }
    
        .temoignages {
            .img-temoignage {
                margin-left: 14rem;
            }
        }
    }
}

@media (min-width: 1400px) {
    .page-closing {
        .list-closing {

            ul {
                left: 33%;
            }
        }

        .list-closing-academie {
            ul {
                left: 67%;
            }
        }

        .display-temoignages {
            right: 18rem;
        }
    
        .temoignages {
            .img-temoignage {
                margin-left: 17rem;
            }
        }
    }
}

@media (min-width: 1440px) {
    .page-closing {
        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .img-title-closing {
            width: 100%;

            img {
                width: 34rem;
            }
        }

        li {
            font-size: 1.5rem;
        }

        h2 {
            font-size: 3rem;
            margin-left: 5rem;
        }

        .list-closing {
            .cadre-white {
                width: 30rem;
                height: 30rem;
                top: 25%;
            }

            ul {
                left: 39%;

                li {
                    font-size: 2rem;
                }
            }
        }

        .list-closing-academie {
            .cadre-white {
                width: 30rem;
                height: 30rem;
                left: 54%;
            }

            ul {
                left: 70%;
                li {
                    font-size: 2rem;
                }
            }
        }

        img {
            width: 28rem;
        }

        .articles-closing {
            .date-academie {
                font-size: 1.2rem;
                width: 6rem;
            }

            h3 {
                font-size: 2rem;
            }
    
            p {
                font-size: 1.5rem;
            }
        }

        .temoignages {
            h3 {
                font-size: 2.5rem;
            }
        }

        .display-temoignages {
            top: 2rem;
            right: 13rem;
            width: 36rem;
            height: 36rem;        

            #img-quotes {
                width: 3rem;
                margin-top: 3rem;
            }

            .carousel-temoignages {
                p {
                    font-size: 1.3rem;
                }
            }
        }

        .temoignages {
            .img-temoignage {
                margin-left: 14rem;
            }

        }
    }
}