@media (min-width: 768px) {
    .page-a-propos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: dense;
        height: 110vh;

        div {
            grid-column: 2;

            img {
                width: 20rem;
            }
        }

        .text-apropos {
            grid-column: 1;
            padding-bottom: 2rem;

            h2 {
                font-size: 1.3rem;
                font-style: italic;
                margin-top: 2rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }
}

@media (min-width: 1024px) {
    .page-a-propos {
        div {
            img {
                width: 25rem;
            }
        } 

        .text-apropos {
            margin-top: 1rem;
            margin-right: 0;

            h2 {
                font-size: 1.3rem;
                font-style: italic;
            }

            p {
                font-size: 1rem;
            }
        }
    }
}

@media (min-width: 1440px) {
    .page-a-propos {
        h1 {
            font-size: 2rem;
        }

        div {
            img {
                width: 30rem;
            }
        } 

        .text-apropos {
            width: 50rem;

            h2 {
                font-size: 1.5rem;
                font-style: italic;
            }

            p {
                font-size: 1.4rem;
            }
        }
    }
}