.container-page-apropos {
    background-color: #C8D7CC;
}

.page-a-propos {
    a {
        text-decoration: none;
        color: black;
    }

    h1 {
        text-align: center;
        color: white;
        font-style: italic;
        font-size: 1.5rem;
    }

    img {
        display: flex;
        margin: 0 auto;
        width: 80%;
        object-fit: cover;
    }

    .text-apropos {
        h2, p {
            width: 80%;
            margin: 0 auto;
            margin-top: 1rem;
            padding-bottom: 1rem;
        }

        h2 {
            text-align: center;
        }

        p {
            text-align: left;
        }

    }
}