.first-part-landing-page {
    position: relative;

    .p-firstpart-1 {
        width: 10rem;
        color: #1E3431;
        background-color: #C8D7CC;
        padding: 1rem;
        position: absolute;
        right: 0.5rem;
        top: -3rem;
        
        p {
            text-align: center;
        }
    }

    .img-first-photo {
        text-align: center;
        margin-top: 5rem;
        margin-bottom: 5rem;

        img {
            width: 290px;
        }
    }

    .p-firstpart-2 {
        width: 10rem;
        color: #1E3431;
        background-color: #749763;
        padding: 1rem;
        position: absolute;
        left: 0.5rem;
        bottom: -3rem;

        p {
            text-align: center;
        }
    }
}

.hr-display {
    display: none;
}