/* KEYFRAMES */
@keyframes select-scale {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes effect-navbar-media {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  80% {
    transform: scale(1.07);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
}
.navbar .logo-sesame {
  margin-left: 1rem;
  font-size: 0.8rem;
}
.navbar .icon-navbar i {
  margin-right: 1rem;
  font-size: 2rem;
  margin-top: 0.7rem;
}
.navbar a {
  text-decoration: none;
  color: black;
}

.list-navbar-media {
  display: none;
  position: fixed;
  z-index: 40;
  width: 100%;
  background-color: #ffff;
  animation: effect-navbar-media 600ms ease-in-out forwards;
}
.list-navbar-media-1 {
  transform-origin: top center;
  animation: effect-navbar-media 700ms ease-in-out forwards;
}
.list-navbar-media-2 {
  transform-origin: top center;
  animation: effect-navbar-media 760ms ease-in-out forwards;
}
.list-navbar-media-3 {
  transform-origin: top center;
  animation: effect-navbar-media 820ms ease-in-out forwards;
}
.list-navbar-media-4 {
  transform-origin: top center;
  animation: effect-navbar-media 880ms ease-in-out forwards;
}
.list-navbar-media-5 {
  transform-origin: top center;
  animation: effect-navbar-media 940ms ease-in-out forwards;
}
.list-navbar-media-6 {
  transform-origin: top center;
  animation: effect-navbar-media 1000ms ease-in-out forwards;
}
.list-navbar-media ul {
  padding: 0;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  margin: 0;
}
.list-navbar-media ul li {
  list-style: none;
  text-align: center;
  margin-top: 1rem;
}
.list-navbar-media ul a {
  text-decoration: none;
  color: black;
}

.navbar-desktop {
  display: none;
  justify-content: space-between;
}
.navbar-desktop .logo-sesame {
  margin-left: 1rem;
}
.navbar-desktop .logo-sesame h1:hover {
  color: #184426;
}
.navbar-desktop #closing-list-nav {
  cursor: pointer;
}
.navbar-desktop ul {
  display: flex;
  margin-top: 1.5rem;
  margin-right: 0.1rem;
}
.navbar-desktop ul li {
  list-style: none;
  margin-right: 1.4rem;
}
.navbar-desktop ul li:hover {
  color: #184426;
}
.navbar-desktop .select-navbar {
  display: none;
  background-color: white;
  position: fixed;
  z-index: 40;
  padding: 1rem;
  animation: select-scale 700ms ease-in-out;
}
.navbar-desktop .select-navbar ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  animation: select-scale 700ms ease-in-out;
}
.navbar-desktop .select-navbar ul li {
  list-style: none;
  margin-top: 1rem;
  cursor: pointer;
}
.navbar-desktop a {
  text-decoration: none;
  color: black;
  margin: 0;
}

header {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
}
header img {
  display: none;
}
header h2, header p {
  color: white;
  margin-right: 2rem;
  margin-left: 2rem;
}
header h2 {
  text-align: center;
  margin-top: 3rem;
  text-shadow: 1px 1px 1px black;
}
header p {
  text-align: justify;
}
header button {
  margin-left: 7rem;
  margin-top: 1.5rem;
  padding: 0.6rem;
  background-color: white;
  border: none;
}

.first-part-landing-page {
  position: relative;
}
.first-part-landing-page .p-firstpart-1 {
  width: 10rem;
  color: #1E3431;
  background-color: #C8D7CC;
  padding: 1rem;
  position: absolute;
  right: 0.5rem;
  top: -3rem;
}
.first-part-landing-page .p-firstpart-1 p {
  text-align: center;
}
.first-part-landing-page .img-first-photo {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.first-part-landing-page .img-first-photo img {
  width: 290px;
}
.first-part-landing-page .p-firstpart-2 {
  width: 10rem;
  color: #1E3431;
  background-color: #749763;
  padding: 1rem;
  position: absolute;
  left: 0.5rem;
  bottom: -3rem;
}
.first-part-landing-page .p-firstpart-2 p {
  text-align: center;
}

.hr-display {
  display: none;
}

.form-contact-landing {
  position: relative;
}
.form-contact-landing img {
  width: 100%;
}
.form-contact-landing .form-landing {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 18rem;
  height: 28rem;
  background-color: rgba(236, 237, 235, 0.8);
  top: 16px;
  left: 16px;
}
.form-contact-landing .form-landing p {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0rem;
  margin-top: 1rem;
}
.form-contact-landing input, .form-contact-landing textarea {
  padding: 1rem;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  outline: none;
  align-items: center;
}
.form-contact-landing .button-contact-landing {
  margin: 2rem 6rem;
  background-color: #012D1E;
  color: white;
  font-size: 1rem;
  border: none;
  outline: none;
}

.footer {
  background-color: rgba(17, 34, 34, 0.8);
  color: white;
  text-align: center;
  margin-top: 6rem;
  padding-top: 4rem;
  padding-bottom: 1rem;
}
.footer .address-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.footer .address-footer .img-media-footer {
  display: inline-block;
  position: absolute;
  width: 15rem;
  top: -13rem;
}
.footer .img-media {
  position: relative;
}
.footer .img-media img {
  display: none;
}
.footer h3 {
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.footer p {
  margin: 0;
}
.footer .num-footer {
  margin-top: 1rem;
}
.footer a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}
.footer .mentions-footer {
  font-size: 1rem;
  margin-top: 2rem;
}
.footer .copyright-footer {
  font-size: 0.5rem;
}

@media (min-width: 320px) {
  header h2 {
    margin-top: 3rem;
  }
  header button {
    margin-left: 6.5rem;
  }

  .form-contact-landing .form-landing {
    width: 18rem;
    height: 28rem;
    top: 16px;
    left: 16px;
  }
}
@media (min-width: 375px) {
  header h2 {
    margin-top: 4rem;
  }
  header button {
    margin-left: 8.5rem;
  }

  .form-contact-landing .form-landing {
    width: 20rem;
    height: 30rem;
    top: 42px;
    left: 28px;
  }
}
@media (min-width: 425px) {
  header h2 {
    margin-top: 6rem;
  }
  header button {
    margin-left: 10.5rem;
  }

  .form-contact-landing .form-landing {
    width: 23rem;
    height: 34rem;
    top: 47px;
    left: 28px;
  }
}
@media (min-width: 768px) {
  .navbar {
    display: none;
  }

  .navbar-desktop {
    display: flex;
  }
  .navbar-desktop h1 {
    font-size: 1.4rem;
  }
  .navbar-desktop ul li {
    font-size: 0.9rem;
  }

  header {
    position: relative;
  }
  header .text-header {
    margin-right: 2rem;
  }
  header h2 {
    text-align: justify;
    font-size: 2rem;
    margin-top: 4rem;
  }
  header img {
    display: inline-block;
    width: 15rem;
    margin-right: 4rem;
    margin-top: 3.5rem;
    position: relative;
    z-index: 1;
  }
  header .cadre-img-header {
    width: 18rem;
    height: 26rem;
    margin-right: 2rem;
    background-color: rgba(223, 223, 186, 0.4);
    position: absolute;
    top: 34px;
    right: 8px;
  }
  header button {
    margin-left: 2rem;
  }

  .first-part-landing-page .p-firstpart-1 {
    width: 14rem;
    height: 20rem;
    right: 29.5rem;
    top: -2rem;
    font-size: 1.7rem;
  }
  .first-part-landing-page .p-firstpart-2 {
    width: 15rem;
    left: 28.5rem;
    bottom: -2rem;
  }

  .hr-display {
    display: block;
    width: 30rem;
  }

  .form-contact-landing {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
  }
  .form-contact-landing img {
    width: 50%;
    margin-left: 2rem;
  }
  .form-contact-landing .form-landing {
    width: 32rem;
    top: 16px;
    left: 14rem;
  }
  .form-contact-landing .form-landing p {
    margin-top: 3rem;
  }

  .footer {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .footer .address-footer .img-media-footer {
    display: none;
  }
  .footer .img-media {
    position: relative;
  }
  .footer .img-media img {
    display: inline-block;
    width: 15rem;
    position: absolute;
    top: -9rem;
    left: -2.5rem;
  }
  .footer .mentions-footer {
    margin-top: 6rem;
  }
}
@media (min-width: 1024px) {
  .navbar-desktop h1 {
    font-size: 1.5rem;
  }
  .navbar-desktop ul li {
    font-size: 1rem;
  }

  .first-part-landing-page .p-firstpart-1 {
    right: 39.5rem;
    top: -2rem;
    font-size: 1.7rem;
  }
  .first-part-landing-page .p-firstpart-2 {
    left: 38.5rem;
    bottom: -2rem;
  }

  .form-contact-landing {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
  }
  .form-contact-landing img {
    width: 26rem;
    margin-left: 4rem;
  }
  .form-contact-landing .form-landing {
    width: 40rem;
    top: 40px;
    left: 20rem;
  }
  .form-contact-landing .form-landing p {
    margin-top: 3rem;
  }
}
@media (min-width: 1440px) {
  .navbar-desktop h1 {
    font-size: 1.8rem;
  }
  .navbar-desktop ul li {
    font-size: 1.5rem;
  }

  header .text-header {
    margin-left: 4rem;
    margin-right: 6rem;
  }
  header .text-header h2 {
    font-size: 3rem;
  }
  header .text-header p {
    font-size: 1.5rem;
  }
  header img {
    width: 20rem;
    margin-right: 6rem;
  }
  header .cadre-img-header {
    width: 23rem;
    height: 34rem;
    top: 32px;
    right: 8px;
    margin-right: 4rem;
  }
  header button {
    font-size: 1.5rem;
  }

  .first-part-landing-page .img-first-photo img {
    width: 400px;
  }
  .first-part-landing-page .p-firstpart-1 {
    right: 54.5rem;
  }
  .first-part-landing-page .p-firstpart-2 {
    left: 54.5rem;
  }

  .form-contact-landing img {
    width: 30rem;
  }
  .form-contact-landing .form-landing {
    width: 65rem;
    top: 5.5rem;
    left: 20rem;
  }
  .form-contact-landing .form-landing p {
    font-size: 2rem;
  }
  .form-contact-landing input, .form-contact-landing textarea {
    padding: 1rem;
    font-size: 1.3rem;
  }
  .form-contact-landing .button-contact-landing {
    font-size: 1.3rem;
  }
}
.contact-page {
  background-color: #C8D7CC;
}

.firstpart-contact {
  padding-top: 1rem;
  padding-bottom: 2rem;
  text-align: center;
  color: #1E3431;
}
.firstpart-contact i {
  font-size: 3rem;
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .firstpart-contact {
    padding-top: 4rem;
  }
  .firstpart-contact h2 {
    margin-bottom: 3rem;
    font-style: italic;
  }

  .display-flex-contact {
    display: flex;
    justify-content: space-around;
  }
}
.page-a-propos {
  background-color: #C8D7CC;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-a-propos a {
  text-decoration: none;
  color: black;
}
.page-a-propos h1 {
  margin: 0;
  margin-top: 2rem;
  margin-left: 1.3rem;
  color: white;
  font-style: italic;
  font-size: 2rem;
}
.page-a-propos img {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  height: 24rem;
  object-fit: cover;
}
.page-a-propos .text-apropos h2, .page-a-propos .text-apropos p {
  margin-left: 1rem;
  margin-right: 1rem;
}
.page-a-propos .text-apropos p {
  text-align: justify;
}

@media (min-width: 768px) {
  .page-a-propos {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .page-a-propos .text-apropos {
    margin-left: 1rem;
    margin-right: 0.6rem;
  }
  .page-a-propos img {
    width: 90%;
    height: 100%;
    margin-right: 1rem;
  }
}
@media (min-width: 1024px) {
  .page-a-propos h1 {
    margin-left: 4rem;
  }
  .page-a-propos .text-apropos {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
@media (min-width: 1440px) {
  .page-a-propos h1 {
    margin-left: 4rem;
    font-size: 3rem;
  }
  .page-a-propos .text-apropos {
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1.3rem;
  }
}
.chronique {
  background-color: #C8D7CC;
}
.chronique a {
  text-decoration: none;
  color: black;
}

.card-article-principal img {
  width: 100%;
}
.card-article-principal h1 {
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
  font-style: italic;
  font-size: 2rem;
  text-align: center;
}
.card-article-principal h3 {
  text-align: center;
}

.vertical-carousel-chronique {
  display: none;
}

.cards-vertical-carousel {
  text-align: center;
  display: flex;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.cards-vertical-carousel a {
  text-decoration: none;
  display: block;
  width: 100%;
  color: black;
}
.cards-vertical-carousel img {
  width: 20rem;
  height: 6rem;
  object-fit: cover;
}
.cards-vertical-carousel .card-vertical {
  text-align: center;
  width: 100%;
}
.cards-vertical-carousel .card-vertical .text-vertical {
  height: 5.7rem;
  overflow: hidden;
}
.cards-vertical-carousel h3, .cards-vertical-carousel p {
  margin: 0;
  margin-top: 0.5rem;
}

.rec.rec-arrow {
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: rgba(37, 71, 53, 0.5);
  min-width: 2rem;
  width: 2rem;
  height: 2rem;
  line-height: 0;
  color: black;
}

.rec.rec-arrow:hover:enabled, .rec.rec-arrow:focus:enabled {
  color: white;
  background-color: rgba(37, 71, 53, 0.5);
  box-shadow: none;
}

.eaptOe {
  display: none;
}

.lcUbOd {
  display: none;
}

hr {
  width: 12rem;
}

.article-details {
  margin-top: 2rem;
}
.article-details h3 {
  text-align: center;
  margin: 0px;
}
.article-details h4 {
  text-align: center;
  font-weight: 600;
  margin: 0px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.article-details img {
  width: 100%;
}
.article-details p {
  text-align: justify;
  padding: 1rem;
  margin: 0;
}

.display-hr-media {
  display: none;
}

@media (min-width: 768px) {
  .chronique-first-part {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
  }
  .chronique-first-part .card-article-principal {
    width: 40%;
    margin-top: 2rem;
  }
  .chronique-first-part .card-article-principal h3 {
    text-align: justify;
  }
  .chronique-first-part .card-article-principal img {
    width: 20rem;
    object-fit: cover;
  }

  .cards-vertical-carousel img {
    width: 5rem;
    height: 5rem;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
  }
  .cards-vertical-carousel .card-vertical {
    display: flex;
    text-align: left;
  }
  .cards-vertical-carousel h3 {
    font-size: 0.5rem;
    margin: 0;
  }
  .cards-vertical-carousel p {
    font-size: 0.5rem;
  }

  .horizontal-carousel-chronique {
    display: none;
  }

  .display-hr {
    display: none;
  }

  .vertical-carousel-chronique {
    display: block;
    margin-top: 0.5rem;
  }

  .rec.rec-slider-container {
    width: 20rem;
  }

  .rec.rec-slider {
    min-height: 0;
  }

  .rec.rec-arrow-up {
    position: absolute;
    top: 5.2rem;
    left: 10rem;
  }

  .rec.rec-arrow-down {
    position: absolute;
    top: 25.2rem;
    left: 10rem;
  }

  .article-details {
    margin-top: 2.5rem;
  }
  .article-details img {
    width: 90%;
    margin: auto;
    display: flex;
  }
  .article-details h3 {
    margin-bottom: 2rem;
  }
  .article-details p {
    margin: auto;
    display: flex;
    width: 90%;
  }

  .display-hr-media {
    display: block;
  }
}
@media (min-width: 968px) {
  .chronique-first-part .card-article-principal img {
    width: 26rem;
    object-fit: cover;
  }

  .cards-vertical-carousel img {
    width: 6rem;
    height: 6rem;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
  }
  .cards-vertical-carousel h3 {
    font-size: 0.7rem;
  }
  .cards-vertical-carousel p {
    font-size: 0.7rem;
  }

  .horizontal-carousel-chronique {
    display: none;
  }

  hr {
    display: none;
  }

  .rec.rec-slider-container {
    width: 28rem;
  }

  .rec.rec-arrow-up {
    position: absolute;
    top: 5.2rem;
    left: 14rem;
  }

  .rec.rec-arrow-down {
    position: absolute;
    top: 29.8rem;
    left: 14rem;
  }

  .article-details img {
    width: 70%;
    margin: auto;
    display: flex;
  }
  .article-details p {
    width: 70%;
  }
}
@media (min-width: 1440px) {
  .chronique-first-part .card-article-principal img {
    width: 34rem;
  }

  .cards-vertical-carousel img {
    width: 8rem;
    height: 8rem;
  }
  .cards-vertical-carousel h3 {
    font-size: 0.9rem;
  }
  .cards-vertical-carousel p {
    font-size: 0.9rem;
  }

  .rec.rec-slider-container {
    width: 38rem;
  }

  .rec.rec-arrow-up {
    position: absolute;
    top: 5.2rem;
    left: 19rem;
  }

  .rec.rec-arrow-down {
    position: absolute;
    top: 35.8rem;
    left: 19rem;
  }

  .article-details img {
    width: 60%;
    margin: auto;
    display: flex;
  }
  .article-details h3 {
    font-size: 2rem;
  }
  .article-details h4 {
    font-size: 1.7rem;
  }
  .article-details p {
    width: 60%;
    font-size: 1.3rem;
  }
}
.page-closing {
  background-color: #C8D7CC;
}
.page-closing .first-part-closing {
  position: relative;
}
.page-closing h2 {
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
  font-style: italic;
  font-size: 2rem;
  text-align: center;
  font-family: "Philosopher", sans-serif;
}
.page-closing img {
  width: 80%;
  margin: auto;
  display: flex;
  opacity: 0.2;
}
.page-closing .list-closing ul {
  text-align: center;
  position: absolute;
  top: 1rem;
  left: 7.5rem;
  padding: 0;
}
.page-closing .list-closing-academie ul {
  text-align: center;
  position: absolute;
  top: 4rem;
  left: 4rem;
  padding: 0;
}
.page-closing li {
  margin-top: 3rem;
  list-style: none;
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Philosopher", sans-serif;
}
.page-closing a {
  text-decoration: none;
  color: black;
}
.page-closing .articles-closing {
  padding-bottom: 2rem;
}
.page-closing .articles-closing ul {
  padding: 0;
}
.page-closing .articles-closing h3 {
  text-align: center;
  margin: 0px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Philosopher", sans-serif;
  font-size: 1.6rem;
}
.page-closing .articles-closing .markdown-academie {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.1rem;
  text-align: justify;
}

@media (min-width: 366px) {
  .page-closing .list-closing-academie ul {
    left: 5rem;
  }
  .page-closing .list-closing ul {
    left: 9rem;
  }
}
@media (min-width: 372px) {
  .page-closing .list-closing-academie ul {
    left: 5.5rem;
  }
  .page-closing .list-closing ul {
    left: 9.3rem;
  }
}
@media (min-width: 375px) {
  .page-closing ul {
    top: 4rem;
    left: 0.8rem;
  }
  .page-closing .list-closing-academie ul {
    left: 6.5rem;
  }
  .page-closing .list-closing-academie #li-academie {
    margin-top: 3rem;
  }
  .page-closing .list-closing-academie li {
    margin-top: 3.5rem;
  }
  .page-closing .display-temoignages {
    width: 18rem;
  }
}
@media (min-width: 425px) {
  .page-closing ul {
    top: 3.6rem;
    left: 2.4rem;
  }
  .page-closing .list-closing ul {
    left: 11rem;
  }
  .page-closing .list-closing-academie ul {
    left: 7rem;
  }
  .page-closing .list-closing-academie #li-academie {
    margin-top: 5rem;
  }
  .page-closing .list-closing-academie li {
    margin-top: 4rem;
  }
  .page-closing .display-temoignages {
    width: 20rem;
  }
}
@media (min-width: 451px) {
  .page-closing .list-closing-academie ul {
    left: 8rem;
  }
  .page-closing .list-closing ul {
    left: 12rem;
  }
}
@media (min-width: 465px) {
  .page-closing .list-closing-academie ul {
    left: 8.3rem;
  }
  .page-closing .list-closing ul {
    left: 12rem;
  }
}
@media (min-width: 509px) {
  .page-closing .list-closing-academie ul {
    left: 9.5rem;
  }
  .page-closing .list-closing ul {
    left: 13.5rem;
  }
}
@media (min-width: 625px) {
  .page-closing .list-closing-academie ul {
    left: 12.5rem;
  }
  .page-closing .list-closing-academie ul li {
    font-size: 1.5rem;
  }
  .page-closing .list-closing ul {
    left: 17rem;
  }
}
@media (min-width: 677px) {
  .page-closing .list-closing-academie ul {
    left: 14.5rem;
  }
  .page-closing .list-closing ul {
    left: 19rem;
  }
}
@media (min-width: 739px) {
  .page-closing .list-closing-academie ul {
    left: 16.3rem;
  }
  .page-closing .list-closing ul {
    left: 20.5rem;
  }
}
@media (min-width: 768px) {
  .page-closing .first-part-closing {
    display: flex;
  }
  .page-closing h2 {
    font-size: 1.5rem;
    margin-left: 0.2rem;
  }
  .page-closing ul {
    position: relative;
    margin-right: 5rem;
  }
  .page-closing .list-closing {
    position: relative;
  }
  .page-closing .list-closing .cadre-white {
    background-color: #ffffff;
    width: 18rem;
    height: 18rem;
    position: absolute;
    top: 10rem;
    left: 4rem;
    transform: rotate(45deg);
  }
  .page-closing .list-closing ul {
    left: 10.5rem;
    top: 2rem;
  }
  .page-closing .list-closing-academie {
    position: relative;
    width: 100%;
    margin-top: 3rem;
  }
  .page-closing .list-closing-academie .cadre-white {
    position: absolute;
    background-color: #ffffff;
    width: 18rem;
    height: 18rem;
    top: 8rem;
    left: 4.5rem;
    transform: rotate(45deg);
  }
  .page-closing .list-closing-academie ul {
    top: 0.6rem;
    margin: 0;
    left: 6.3rem;
  }
  .page-closing .list-closing-academie li {
    margin-top: 4rem;
    margin-right: 0.5rem;
  }
  .page-closing #image-academie {
    margin-left: 1rem;
  }
  .page-closing img {
    opacity: 1;
    display: inline-block;
    margin-left: 1rem;
    width: 20rem;
  }
  .page-closing .articles-closing {
    margin-left: 1rem;
  }
  .page-closing .articles-closing h3 {
    text-align: justify;
    margin: auto;
  }
  .page-closing .articles-closing .markdown-academie {
    text-align: justify;
    margin: auto;
  }
  .page-closing .display-flex-temoignage {
    display: flex;
    position: relative;
    margin-top: 1rem;
  }
  .page-closing .display-temoignages {
    position: absolute;
    top: 1rem;
    right: 2rem;
    width: 26rem;
    height: 26rem;
  }
  .page-closing .display-temoignages #img-quotes {
    width: 3rem;
    margin-top: 3rem;
  }
  .page-closing .display-temoignages .carousel-temoignages p {
    font-size: 1rem;
  }
  .page-closing .temoignages .img-temoignage {
    display: flex;
    margin-left: 2rem;
  }
}
@media (min-width: 834px) {
  .page-closing .list-closing-academie .cadre-white {
    left: 6rem;
  }
  .page-closing .list-closing-academie ul {
    left: 7.5rem;
  }
  .page-closing .list-closing .cadre-white {
    left: 6.5rem;
  }
  .page-closing .list-closing ul {
    left: 13rem;
  }
  .page-closing .display-temoignages {
    right: 4rem;
  }
  .page-closing .temoignages .img-temoignage {
    margin-left: 3rem;
  }
}
@media (min-width: 866px) {
  .page-closing .list-closing-academie .cadre-white {
    left: 6.5rem;
  }
  .page-closing .list-closing-academie ul {
    left: 8rem;
  }
  .page-closing .list-closing .cadre-white {
    left: 7rem;
  }
  .page-closing .list-closing ul {
    left: 14rem;
  }
  .page-closing img {
    margin-left: 2rem;
  }
  .page-closing .display-temoignages {
    right: 5rem;
  }
  .page-closing .temoignages .img-temoignage {
    margin-left: 4rem;
  }
}
@media (min-width: 906px) {
  .page-closing .list-closing-academie .cadre-white {
    left: 8.5rem;
  }
  .page-closing .list-closing-academie ul {
    left: 10rem;
  }
  .page-closing .list-closing .cadre-white {
    left: 8rem;
  }
  .page-closing .list-closing ul {
    left: 15rem;
  }
  .page-closing img {
    margin-left: 2.3rem;
  }
  .page-closing .display-temoignages {
    right: 6rem;
  }
  .page-closing .temoignages .img-temoignage {
    margin-left: 5rem;
  }
}
@media (min-width: 958px) {
  .page-closing .list-closing-academie .cadre-white {
    left: 9.5rem;
  }
  .page-closing .list-closing-academie ul {
    left: 11rem;
  }
  .page-closing .list-closing .cadre-white {
    left: 9rem;
  }
  .page-closing .list-closing ul {
    left: 16rem;
  }
  .page-closing img {
    margin-left: 3rem;
  }
  .page-closing .display-temoignages {
    right: 8rem;
  }
  .page-closing .temoignages .img-temoignage {
    margin-left: 7rem;
  }
}
@media (min-width: 968px) {
  .page-closing .list-closing-academie ul {
    left: 11.3rem;
  }
  .page-closing .list-closing .cadre-white {
    left: 10rem;
  }
  .page-closing .list-closing ul {
    left: 17rem;
  }
  .page-closing .display-temoignages {
    right: 8rem;
  }
  .page-closing .temoignages .img-temoignage {
    margin-left: 7rem;
  }
}
@media (min-width: 1024px) {
  .page-closing ul {
    position: relative;
    margin-right: 5rem;
  }
  .page-closing h2 {
    font-size: 2.1rem;
  }
  .page-closing .img-title-closing {
    width: 85%;
  }
  .page-closing .list-closing .cadre-white {
    width: 23rem;
    height: 23rem;
    top: 10rem;
    left: 7rem;
  }
  .page-closing .list-closing ul {
    left: 16rem;
  }
  .page-closing .list-closing ul li {
    font-size: 1.5rem;
  }
  .page-closing .list-closing-academie ul {
    top: 1rem;
    margin-left: 2.5rem;
  }
  .page-closing .list-closing-academie .cadre-white {
    width: 23rem;
    height: 23rem;
    top: 8rem;
    left: 3rem;
  }
  .page-closing .list-closing-academie ul {
    left: 5rem;
  }
  .page-closing .list-closing-academie li {
    margin-top: 5rem;
  }
  .page-closing img {
    width: 24rem;
  }
  .page-closing .articles-closing {
    margin-top: 4rem;
  }
  .page-closing .display-temoignages {
    top: 2rem;
    right: 6rem;
    width: 30rem;
    height: 30rem;
  }
  .page-closing .display-temoignages #img-quotes {
    width: 3rem;
    margin-top: 3rem;
  }
  .page-closing .display-temoignages .carousel-temoignages p {
    font-size: 1.1rem;
  }
  .page-closing .temoignages .img-temoignage {
    margin-left: 6rem;
  }
}
@media (min-width: 1092px) {
  .page-closing .list-closing .cadre-white {
    left: 9rem;
  }
  .page-closing .list-closing ul {
    left: 18rem;
  }
  .page-closing .display-temoignages {
    right: 9rem;
  }
  .page-closing .temoignages .img-temoignage {
    margin-left: 8rem;
  }
}
@media (min-width: 1154px) {
  .page-closing .list-closing .cadre-white {
    left: 11rem;
  }
  .page-closing .list-closing ul {
    left: 20rem;
  }
  .page-closing #image-academie {
    margin-left: 4rem;
  }
  .page-closing .list-closing-academie ul {
    left: 6.5rem;
  }
  .page-closing .list-closing-academie .cadre-white {
    left: 4.5rem;
  }
  .page-closing .display-temoignages {
    right: 10rem;
  }
  .page-closing .temoignages .img-temoignage {
    margin-left: 9rem;
  }
}
@media (min-width: 1228px) {
  .page-closing .list-closing .cadre-white {
    left: 12rem;
  }
  .page-closing .list-closing ul {
    left: 21rem;
  }
  .page-closing img {
    margin-left: 5rem;
  }
  .page-closing #image-academie {
    margin-left: 5rem;
  }
  .page-closing .list-closing-academie ul {
    left: 8rem;
  }
  .page-closing .list-closing-academie .cadre-white {
    left: 6rem;
  }
  .page-closing .display-temoignages {
    right: 12rem;
  }
  .page-closing .temoignages .img-temoignage {
    margin-left: 11rem;
  }
}
@media (min-width: 1292px) {
  .page-closing .list-closing .cadre-white {
    left: 13rem;
  }
  .page-closing .list-closing ul {
    left: 22rem;
  }
  .page-closing img {
    margin-left: 6.5rem;
  }
  .page-closing #image-academie {
    margin-left: 6.5rem;
  }
  .page-closing .list-closing-academie ul {
    left: 9rem;
  }
  .page-closing .list-closing-academie .cadre-white {
    left: 7rem;
  }
  .page-closing .display-temoignages {
    right: 15rem;
  }
  .page-closing .temoignages .img-temoignage {
    margin-left: 14rem;
  }
}
@media (min-width: 1400px) {
  .page-closing .list-closing .cadre-white {
    left: 15rem;
  }
  .page-closing .list-closing ul {
    left: 24rem;
  }
  .page-closing .list-closing-academie ul {
    left: 10rem;
  }
  .page-closing .list-closing-academie .cadre-white {
    left: 8rem;
  }
  .page-closing .display-temoignages {
    right: 18rem;
  }
  .page-closing .temoignages .img-temoignage {
    margin-left: 17rem;
  }
}
@media (min-width: 1440px) {
  .page-closing ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .page-closing .img-title-closing {
    width: 100%;
  }
  .page-closing .img-title-closing img {
    width: 34rem;
  }
  .page-closing li {
    font-size: 1.5rem;
  }
  .page-closing h2 {
    font-size: 3rem;
    margin-left: 5rem;
  }
  .page-closing .list-closing .cadre-white {
    width: 30rem;
    height: 30rem;
    top: 11rem;
    left: 12.5rem;
  }
  .page-closing .list-closing ul li {
    font-size: 2rem;
  }
  .page-closing .list-closing-academie .cadre-white {
    width: 30rem;
    height: 30rem;
    top: 11.5rem;
    left: 5.5rem;
  }
  .page-closing .list-closing-academie ul {
    left: 8rem;
  }
  .page-closing .list-closing-academie ul li {
    margin-top: 7rem;
    font-size: 2rem;
  }
  .page-closing img {
    width: 28rem;
  }
  .page-closing .articles-closing h3 {
    font-size: 2rem;
  }
  .page-closing .articles-closing p {
    font-size: 1.5rem;
  }
  .page-closing .temoignages h3 {
    font-size: 2.5rem;
  }
  .page-closing .display-temoignages {
    top: 2rem;
    right: 13rem;
    width: 36rem;
    height: 36rem;
  }
  .page-closing .display-temoignages #img-quotes {
    width: 3rem;
    margin-top: 3rem;
  }
  .page-closing .display-temoignages .carousel-temoignages p {
    font-size: 1.3rem;
  }
  .page-closing .temoignages .img-temoignage {
    margin-left: 14rem;
  }
}
.list-closing-academie li {
  margin-top: 2.7rem;
}

.temoignages {
  padding-bottom: 3rem;
}
.temoignages h3 {
  text-align: center;
  font-family: "Philosopher", sans-serif;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  margin: 0;
  margin-top: 2rem;
}
.temoignages .img-temoignage {
  display: none;
}

.display-temoignages {
  background-color: rgba(236, 237, 235, 0.8);
  width: 15rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1rem;
}
.display-temoignages .carousel-temoignages {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 0.5rem;
  height: 15rem;
  overflow: hidden;
}
.display-temoignages .carousel-temoignages .rec.rec-arrow {
  margin: 0;
}
.display-temoignages .carousel-temoignages p {
  text-align: center;
  font-size: 0.8rem;
}
.display-temoignages #img-quotes {
  width: 2rem;
  display: flex;
  margin: auto;
  margin-top: 1rem;
  opacity: 1;
}

.container-find-one {
  background-color: #c8d7cc;
  padding-top: 3rem;
}
.container-find-one h2 {
  margin: 0;
}
.container-find-one .title-cross-update {
  display: flex;
}
.container-find-one .title-cross-update i {
  font-size: 1.5rem;
  margin-left: 1rem;
}
.container-find-one .title-cross-update #update-button {
  font-size: 1.2rem;
  cursor: pointer;
}
.container-find-one .title-cross-update #delete-button {
  cursor: pointer;
}
.container-find-one img {
  width: 40%;
  display: flex;
  margin: 0 auto;
}
.container-find-one .text-find-one {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 2rem;
}

.oeuvre-toi {
  background-color: #C8D7CC;
}
.oeuvre-toi a {
  text-decoration: none;
  color: black;
}

.card-article-principal-oeuvre {
  background-color: #F2F2E2;
}
.card-article-principal-oeuvre img {
  width: 100%;
}
.card-article-principal-oeuvre h1 {
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #1E3431;
  font-style: italic;
  font-size: 2rem;
  text-align: center;
}
.card-article-principal-oeuvre h3 {
  text-align: center;
}

.horizontal-carousel-oeuvre {
  text-align: center;
}
.horizontal-carousel-oeuvre .cards-carousel-oeuvre-toi {
  text-align: center;
  display: flex;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.horizontal-carousel-oeuvre .cards-carousel-oeuvre-toi a {
  text-decoration: none;
  display: block;
  width: 100%;
  color: black;
}
.horizontal-carousel-oeuvre .cards-carousel-oeuvre-toi img {
  width: 20rem;
  height: 6rem;
  object-fit: cover;
}
.horizontal-carousel-oeuvre .cards-carousel-oeuvre-toi .card-vertical {
  text-align: center;
  width: 100%;
}
.horizontal-carousel-oeuvre .cards-carousel-oeuvre-toi .card-vertical .text-vertical {
  height: 5.7rem;
  overflow: hidden;
}
.horizontal-carousel-oeuvre .cards-carousel-oeuvre-toi h3, .horizontal-carousel-oeuvre .cards-carousel-oeuvre-toi p {
  margin: 0;
  margin-top: 0.5rem;
}

.rec.rec-arrow {
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: rgba(37, 71, 53, 0.5);
  min-width: 2rem;
  width: 2rem;
  height: 2rem;
  line-height: 0;
  color: black;
}

.rec.rec-arrow:hover:enabled, .rec.rec-arrow:focus:enabled {
  color: white;
  background-color: rgba(37, 71, 53, 0.5);
  box-shadow: none;
}

.eaptOe {
  display: none;
}

.lcUbOd {
  display: none;
}

hr {
  width: 12rem;
}

.oeuvre-article-details {
  margin-top: 2rem;
}
.oeuvre-article-details h3 {
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}
.oeuvre-article-details h4 {
  text-align: center;
  font-weight: 600;
  margin: 0px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.oeuvre-article-details img {
  width: 100%;
}
.oeuvre-article-details p {
  text-align: justify;
  padding: 1rem;
  margin: 0;
}

.display-hr-media {
  display: none;
}

@media (min-width: 768px) {
  .card-article-principal-oeuvre {
    display: flex;
    justify-content: space-around;
  }
  .card-article-principal-oeuvre .image-media-oeuvre-toi {
    display: inline-block;
    width: 50rem;
    margin-right: 2rem;
    margin-top: 2rem;
  }

  .oeuvre-toi #horizontal-carousel-oeuvre {
    margin-left: 9rem;
  }

  .cards-carousel-oeuvre-toi {
    display: flex;
  }

  .oeuvre-article-details img {
    width: 60%;
    display: flex;
    margin: 0 auto;
  }
  .oeuvre-article-details p {
    display: flex;
    margin: 0 auto;
    width: 60%;
  }
}
@media (min-width: 882px) {
  .oeuvre-toi #horizontal-carousel-oeuvre {
    margin-left: 12.5rem;
  }
}
@media (min-width: 958px) {
  .oeuvre-toi #horizontal-carousel-oeuvre {
    margin-left: 15rem;
  }
}
@media (min-width: 1024px) {
  .card-article-principal-oeuvre h1 {
    font-size: 2.5rem;
  }

  .oeuvre-toi #horizontal-carousel-oeuvre {
    margin-left: 13.5rem;
  }
}
@media (min-width: 1122px) {
  .oeuvre-toi #horizontal-carousel-oeuvre {
    margin-left: 16.5rem;
  }
}
@media (min-width: 1222px) {
  .oeuvre-toi #horizontal-carousel-oeuvre {
    margin-left: 17.5rem;
  }
}
@media (min-width: 1322px) {
  .oeuvre-toi #horizontal-carousel-oeuvre {
    margin-left: 22.5rem;
  }
}
@media (min-width: 1440px) {
  .oeuvre-article-details h3 {
    font-size: 2rem;
  }
  .oeuvre-article-details p {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
