.contact-page {
    background-color: #C8D7CC;
}

.firstpart-contact {
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-align: center;
    color: #1E3431;

    i {
        font-size: 3rem;
        margin-top: 0.5rem;
    }
}
